/* Remove claro-specific styles. */
.me-dialog__buttonpane .button:not(:focus) {
  box-shadow: none;
}

/* Expose dialog resize handle in safari. */
.me-dialog__buttonpane {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 14px), calc(100% - 14px) 100%, 0 100%);
}

/* All buttons in dialog content pane. */
.lpb-dialog.ui-dialog .ui-dialog-content.ui-widget-content .button,
/* Save / close buttons in main builder interface. */
.lpb-form__actions .button,
/* Dialog button pane buttons. */
.lpb-dialog.ui-dialog .ui-widget-content.ui-dialog-buttonpane .button,
[class*="me-button"],
.me-dialog__buttonpane .button {

  /* Remove hyper-specific gin theme styles. */
  border: none !important;
  border-radius: 2px !important;

  /* Fonts */
  font-size: var(--me-font-size-button, calc(13px + 2 * ((100vw - 320px) / 1360)));
  font-family: var(--me-font-family-sans);
  font-weight: 700;
  letter-spacing: var(--me-letter-spacing-loose);
  text-transform: uppercase;
  line-height: 1.1;
  text-decoration: none;

  /* Layout */
  display: inline-block;
  height: auto;
  padding: .6em;
  position: relative;
  vertical-align: middle;
  margin: .5rem .2rem;

  /* Color */
  color: var(--me-button-color-text);
  background-color: var(--me-button-color-background);

  /* Transition */
  transition: var(--me-transition);

  /* States */
  &:not([disabled]):hover {
    background-color: var(--me-button-color-background-hover);
    color: var(--me-button-color-text-hover);
    cursor: pointer;
    text-decoration: underline;
  }

  &[disabled] {
    opacity: .6;
  }

  &.action-link {
    background: none;
    position: relative;
    padding: .6em;
    margin: 1em;

    &:hover {
      text-decoration: underline;
    }
  }
  &.action-link--icon-trash {
    padding-left: 25px;
    margin-right: 0;
    float: right;
    &:before {
      position: absolute;
      left: 0;
      content: "\274c"; /* use the hex value here... */
      color: #FFF;
      text-align: center;
      /* Overwrite claro action-link styles. */
      background-image: none;
      top: auto;
    }
  }

}

.me-button--primary,
mercury-dialog .me-dialog__buttonpane .lpb-btn--save,
mercury-dialog .me-dialog__buttonpane :only-child,
mercury-dialog .me-dialog__buttonpane .button--primary {
  color: var(--me-button-color-text-primary);
  background-color: var(--me-button-color-background-primary);

  &:not([disabled]):hover {
    color: var(--me-button-color-text-primary-hover);
    background-color: var(--me-button-color-background-primary-hover);
  }
}

.me-button--secondary {
  color: var(--me-button-color-text-secondary);
  background-color: var(--me-button-color-background-secondary);

  &:not([disabled]):hover {
    color: var(--me-button-color-text-secondary-hover);
    background-color: var(--me-button-color-background-secondary-hover);
  }
}

.me-button--cancel,
mercury-dialog .me-dialog__buttonpane .lpb-btn--cancel,
mercury-dialog .me-dialog__buttonpane .button--cancel {
  color: var(--me-button-color-text-cancel);
  background-color: var(--me-button-color-background-cancel);

  &:not([disabled]):hover {
    color: var(--me-button-color-text-cancel-hover);
    background-color: var(--me-button-color-background-cancel-hover);
  }
}

.me-button--icon span {
  display: block;
  overflow: hidden;
  height: var(--me-button-icon-height);
  width: var(--me-button-icon-width);
  text-indent: calc(var(--me-button-icon-width) + 2px);
  white-space: nowrap;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-size: var(--me-button-icon-height) var(--me-button-icon-width);
  mask-image: var(--me-button-icon);
  background-color: var(--me-button-color-icon);
}

.me-button--icon:hover span {
  --me-button-color-icon: var(--me-button-color-icon-hover);
}

.me-button--sidebar-collapse {
  --me-button-icon: svg-load('sidebar-collapse.svg');
}
.me-button--sidebar-expand {
  --me-button-icon: svg-load('sidebar-expand.svg');
}
.me-button--desktop {
  --me-button-icon: svg-load('desktop.svg');
}
.me-button--mobile {
  --me-button-icon: svg-load('mobile.svg');
}

.me-dialog__buttonpane .button + .button {
  margin-left: .75rem;
}

[class*="me-button"] + [class*="me-button"] {
  margin-left: 0;
}

.lpb-dialog.ui-dialog .ui-widget-content.ui-dialog-buttonpane .button {
  margin-left: 8px;
}

/* Add Section Buttons */
.lp-builder {
  & .lpb-btn {
    line-height: 24px;
    font-weight: var(--me-font-weight-medium);
    text-transform: uppercase;
    z-index: 540;
    border-radius: 3px;
    background-color: #00659B;
    color: #fff;
  }

  & .lpb-btn.before {
    top: -18px;
  }

  & .lpb-btn.after {
    bottom: -18px;
  }
}
