.is-debugging {
  background-color: rgba(155, 0, 0, .2);
}

.u-align-items-normal {
  align-items: normal;
}
.u-align-items-baseline {
  align-items: baseline;
}
.u-align-items-stretch {
  align-items: stretch;
}
.u-align-items-center {
  align-items: center;
}
.u-align-items-flex-start {
  align-items: flex-start;
}
.u-align-items-flex-end {
  align-items: flex-end;
}
.u-align-items-start {
  align-items: start;
}
.u-align-items-end {
  align-items: end;
}

.u-justify-content-normal {
  justify-content: normal;
}
.u-justify-content-stretch {
  justify-content: stretch;
}
.u-justify-content-center {
  justify-content: center;
}
.u-justify-content-flex-start {
  justify-content: flex-start;
}
.u-justify-content-flex-end {
  justify-content: flex-end;
}
.u-justify-content-start {
  justify-content: start;
}
.u-justify-content-end {
  justify-content: end;
}
.u-justify-content-space-between {
  justify-content: space-between;
}
.u-justify-content-space-around {
  justify-content: space-around;
}
.u-justify-content-space-evenly {
  justify-content: space-evenly;
}

/* Padding */

.u-pt-auto {
  padding-top: auto;
}
.u-pt-size-0 {
  padding-top: 0;
}
.u-pt-size-1 {
  padding-top: var(--size-1);
}
.u-pt-size-2 {
  padding-top: var(--size-2);
}
.u-pt-size-3 {
  padding-top: var(--size-3);
}
.u-pt-size-4 {
  padding-top: var(--size-4);
}
.u-pt-size-5 {
  padding-top: var(--size-5);
}
.u-pt-size-6 {
  padding-top: var(--size-6);
}
.u-pt-size-7 {
  padding-top: var(--size-7);
}
.u-pt-size-8 {
  padding-top: var(--size-8);
}
.u-pt-size-9 {
  padding-top: var(--size-9);
}
.u-pt-size-10 {
  padding-top: var(--size-10);
}
.u-pt-size-11 {
  padding-top: var(--size-11);
}
.u-pt-size-12 {
  padding-top: var(--size-12);
}
.u-pt-size-13 {
  padding-top: var(--size-13);
}
.u-pt-size-14 {
  padding-top: var(--size-14);
}
.u-pt-size-15 {
  padding-top: var(--size-15);
}

.u-pr-auto {
  padding-right: auto;
}
.u-pr-size-0 {
  padding-right: 0;
}
.u-pr-size-1 {
  padding-right: var(--size-1);
}
.u-pr-size-2 {
  padding-right: var(--size-2);
}
.u-pr-size-3 {
  padding-right: var(--size-3);
}
.u-pr-size-4 {
  padding-right: var(--size-4);
}
.u-pr-size-5 {
  padding-right: var(--size-5);
}
.u-pr-size-6 {
  padding-right: var(--size-6);
}
.u-pr-size-7 {
  padding-right: var(--size-7);
}
.u-pr-size-8 {
  padding-right: var(--size-8);
}
.u-pr-size-9 {
  padding-right: var(--size-9);
}
.u-pr-size-10 {
  padding-right: var(--size-10);
}
.u-pr-size-11 {
  padding-right: var(--size-11);
}
.u-pr-size-12 {
  padding-right: var(--size-12);
}
.u-pr-size-13 {
  padding-right: var(--size-13);
}
.u-pr-size-14 {
  padding-right: var(--size-14);
}
.u-pr-size-15 {
  padding-right: var(--size-15);
}

.u-pb-auto {
  padding-bottom: auto;
}
.u-pb-size-0 {
  padding-bottom: 0;
}
.u-pb-size-1 {
  padding-bottom: var(--size-1);
}
.u-pb-size-2 {
  padding-bottom: var(--size-2);
}
.u-pb-size-3 {
  padding-bottom: var(--size-3);
}
.u-pb-size-4 {
  padding-bottom: var(--size-4);
}
.u-pb-size-5 {
  padding-bottom: var(--size-5);
}
.u-pb-size-6 {
  padding-bottom: var(--size-6);
}
.u-pb-size-7 {
  padding-bottom: var(--size-7);
}
.u-pb-size-8 {
  padding-bottom: var(--size-8);
}
.u-pb-size-9 {
  padding-bottom: var(--size-9);
}
.u-pb-size-10 {
  padding-bottom: var(--size-10);
}
.u-pb-size-11 {
  padding-bottom: var(--size-11);
}
.u-pb-size-12 {
  padding-bottom: var(--size-12);
}
.u-pb-size-13 {
  padding-bottom: var(--size-13);
}
.u-pb-size-14 {
  padding-bottom: var(--size-14);
}
.u-pb-size-15 {
  padding-bottom: var(--size-15);
}

.u-pl-auto {
  padding-left: auto;
}
.u-pl-size-0 {
  padding-left: 0;
}
.u-pl-size-1 {
  padding-left: var(--size-1);
}
.u-pl-size-2 {
  padding-left: var(--size-2);
}
.u-pl-size-3 {
  padding-left: var(--size-3);
}
.u-pl-size-4 {
  padding-left: var(--size-4);
}
.u-pl-size-5 {
  padding-left: var(--size-5);
}
.u-pl-size-6 {
  padding-left: var(--size-6);
}
.u-pl-size-7 {
  padding-left: var(--size-7);
}
.u-pl-size-8 {
  padding-left: var(--size-8);
}
.u-pl-size-9 {
  padding-left: var(--size-9);
}
.u-pl-size-10 {
  padding-left: var(--size-10);
}
.u-pl-size-11 {
  padding-left: var(--size-11);
}
.u-pl-size-12 {
  padding-left: var(--size-12);
}
.u-pl-size-13 {
  padding-left: var(--size-13);
}
.u-pl-size-14 {
  padding-left: var(--size-14);
}
.u-pl-size-15 {
  padding-left: var(--size-15);
}

/* Margins */
.u-mt-auto {
  margin-top: auto;
}
.u-mt-size-0 {
  margin-top: 0;
}
.u-mt-size-1 {
  margin-top: var(--size-1);
}
.u-mt-size-2 {
  margin-top: var(--size-2);
}
.u-mt-size-3 {
  margin-top: var(--size-3);
}
.u-mt-size-4 {
  margin-top: var(--size-4);
}
.u-mt-size-5 {
  margin-top: var(--size-5);
}
.u-mt-size-6 {
  margin-top: var(--size-6);
}
.u-mt-size-7 {
  margin-top: var(--size-7);
}
.u-mt-size-8 {
  margin-top: var(--size-8);
}
.u-mt-size-9 {
  margin-top: var(--size-9);
}
.u-mt-size-10 {
  margin-top: var(--size-10);
}
.u-mt-size-11 {
  margin-top: var(--size-11);
}
.u-mt-size-12 {
  margin-top: var(--size-12);
}
.u-mt-size-13 {
  margin-top: var(--size-13);
}
.u-mt-size-14 {
  margin-top: var(--size-14);
}
.u-mt-size-15 {
  margin-top: var(--size-15);
}

.u-mr-auto {
  margin-right: auto;
}
.u-mr-size-0 {
  margin-right: 0;
}
.u-mr-size-1 {
  margin-right: var(--size-1);
}
.u-mr-size-2 {
  margin-right: var(--size-2);
}
.u-mr-size-3 {
  margin-right: var(--size-3);
}
.u-mr-size-4 {
  margin-right: var(--size-4);
}
.u-mr-size-5 {
  margin-right: var(--size-5);
}
.u-mr-size-6 {
  margin-right: var(--size-6);
}
.u-mr-size-7 {
  margin-right: var(--size-7);
}
.u-mr-size-8 {
  margin-right: var(--size-8);
}
.u-mr-size-9 {
  margin-right: var(--size-9);
}
.u-mr-size-10 {
  margin-right: var(--size-10);
}
.u-mr-size-11 {
  margin-right: var(--size-11);
}
.u-mr-size-12 {
  margin-right: var(--size-12);
}
.u-mr-size-13 {
  margin-right: var(--size-13);
}
.u-mr-size-14 {
  margin-right: var(--size-14);
}
.u-mr-size-15 {
  margin-right: var(--size-15);
}

.u-mb-auto {
  margin-bottom: auto;
}
.u-mb-size-0 {
  margin-bottom: 0;
}
.u-mb-size-1 {
  margin-bottom: var(--size-1);
}
.u-mb-size-2 {
  margin-bottom: var(--size-2);
}
.u-mb-size-3 {
  margin-bottom: var(--size-3);
}
.u-mb-size-4 {
  margin-bottom: var(--size-4);
}
.u-mb-size-5 {
  margin-bottom: var(--size-5);
}
.u-mb-size-6 {
  margin-bottom: var(--size-6);
}
.u-mb-size-7 {
  margin-bottom: var(--size-7);
}
.u-mb-size-8 {
  margin-bottom: var(--size-8);
}
.u-mb-size-9 {
  margin-bottom: var(--size-9);
}
.u-mb-size-10 {
  margin-bottom: var(--size-10);
}
.u-mb-size-11 {
  margin-bottom: var(--size-11);
}
.u-mb-size-12 {
  margin-bottom: var(--size-12);
}
.u-mb-size-13 {
  margin-bottom: var(--size-13);
}
.u-mb-size-14 {
  margin-bottom: var(--size-14);
}
.u-mb-size-15 {
  margin-bottom: var(--size-15);
}

.u-ml-auto {
  margin-left: auto;
}
.u-ml-size-0 {
  margin-left: 0;
}
.u-ml-size-1 {
  margin-left: var(--size-1);
}
.u-ml-size-2 {
  margin-left: var(--size-2);
}
.u-ml-size-3 {
  margin-left: var(--size-3);
}
.u-ml-size-4 {
  margin-left: var(--size-4);
}
.u-ml-size-5 {
  margin-left: var(--size-5);
}
.u-ml-size-6 {
  margin-left: var(--size-6);
}
.u-ml-size-7 {
  margin-left: var(--size-7);
}
.u-ml-size-8 {
  margin-left: var(--size-8);
}
.u-ml-size-9 {
  margin-left: var(--size-9);
}
.u-ml-size-10 {
  margin-left: var(--size-10);
}
.u-ml-size-11 {
  margin-left: var(--size-11);
}
.u-ml-size-12 {
  margin-left: var(--size-12);
}
.u-ml-size-13 {
  margin-left: var(--size-13);
}
.u-ml-size-14 {
  margin-left: var(--size-14);
}
.u-ml-size-15 {
  margin-left: var(--size-15);
}

.u-mw-none {
  max-width: none;
}
.u-mw-small {
  max-width: 18em;
}
.u-mw-narrow {
  max-width: 48em;
}
.u-mw-normal {
  max-width: 54em;
}
.u-mw-wide {
  max-width: 66em;
}
.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}