@use '../../var';

.paragraph-theme-block {
  $container: #{&}__container;

  position: relative;
  color: var(--cmt-color);
  font-family: var(--cm-font-family-base);

  &,
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  // padding, margin (sm, md, lg)
  $types: (padding, margin);
  @each $type in $types {
    @each $size in var.$sizes {
      @each $dir in var.$directions {
        &--#{$type}-#{$dir}-#{$size} {
          #{$type}-#{$dir}: var(--cm-container-#{$type}-#{$size});
        }
      }
    }
  }

  @each $align in (left, center, right) {
    &--align-#{$align} {
      #{$container} {
        @if $align == 'center' {
          margin-left: auto;
          margin-right: auto;
        } @else {
          margin-#{if($align == 'left', 'right' , 'left')}: auto;
        }
      }
    }
  }

  &__background {
    position: absolute;
    left: calc(50% - (100vw - var(--scrollbar-width, 0px)) / 2);
    right: calc(50% - (100vw - var(--scrollbar-width, 0px)) / 2);
    top: 0;
    bottom: 0;
    z-index: -1;
    background: var(--cmt-bg);
    pointer-events: none;
    img {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}