.paragraph-theme-grid,
.paragraph-theme-swiper {
  --cmt-btn-solid-primary-color: var(--cm-on-primary);
  --cmt-btn-solid-primary-bg: var(--cm-primary);
  --cmt-btn-outline-primary-color: var(--cm-primary);
  --cmt-btn-text-primary-color: var(--cm-primary);
  --cmt-btn-solid-secondary-color: var(--cm-on-secondary);
  --cmt-btn-solid-secondary-bg: var(--cm-secondary);
  --cmt-btn-outline-secondary-color: var(--cm-secondary);
  --cmt-btn-text-secondary-color: var(--cm-secondary);
}