@use '../../mixins';
@use '../../ckeditor5/content';
@use '../../utils/typography' as t;

.paragraph-theme-timeline {
  --timeline-node-color: rgba(0, 0, 0, 0.12);
  padding: 2rem;
  background-color: var(--cmt-surface-bg);
  border-radius: 16px;
  border-width: 3px 0px 3px 0px;
  border-style: solid;
  border-color: var(--cm-primary);
  position: relative;
  @include mixins.media-breakpoint-down(md) {
    padding: 1rem;
  }
  &__tools {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
  }
  &__results {
    font-size: 14px;
    font-weight: normal;
    line-height: 143%;
    color: #666666;
    &-num {
      color: var(--cm-primary);
      font-weight: 700;
    }
  }
  &__control {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  &__dropdown {
    @include mixins.flex-center();
    gap: 4px;
    width: max-content;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    padding: 8px 12px;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    background-color: var(--cm-white);
    cursor: pointer;
    position: relative;
    &-icon {
      @include mixins.flex-center();
    }
    &-menu {
      position: absolute;
      top: calc(100% + 8px);
      z-index: 1;
      width: 100%;
      min-width: max-content;
      padding: 8px 0;
      background-color: var(--cm-white);
      border-radius: 6px;
      box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05),0px 6px 16px 0px rgba(0, 0, 0, 0.08),0px 3px 6px -4px rgba(0, 0, 0, 0.12);
      &--hidden {
        .paragraph-theme-timeline__dropdown-menu {
          display: none;
        }
      }
      &__item {
        padding: 8px 12px;
        &--active {
          color: var(--cm-primary);
        }
        &:hover {
          background-color: #F5F5F5;
        }
      }
    }
  }
  &__dates {
    display: flex;
    gap: 8px;
    margin-bottom: 2rem;
    overflow-x: auto;
    &-item {
      color: var(--cm-black);
      font-size: 1rem;
      font-weight: 700;
      text-wrap: nowrap;
      padding: 16px 20px;
      background: var(--cmt-bg);
      border-radius: var(--cm-border-radius);
      cursor: pointer;
      &--active {
        color: var(--cm-white);
        background: var(--cm-gradient1);
      }
    }
  }
  &-item {
    display: flex;
    &__time, &__hint-text {
      width: 16%;
      max-width: 150px;
      @include mixins.auto-font-size(16px);
      font-weight: 700;
      line-height: 140%;
      text-align: right;
      padding-right: 32px;
      @include mixins.media-breakpoint-down(md) {
        padding-right: 10px;
        line-height: 160%;
      }
    }
    &__primary {
      flex: 1 0 0;
      position: relative;
      padding-left: 2rem;
      padding-bottom: 2.5rem;
      @include mixins.media-breakpoint-down(md) {
        padding-left: 22px;
      }
    }
    &__tail {
      position: absolute;
      left: 6px;
      top: 24px;
      height: calc(100% - 24px);
      border-left: 2px solid var(--timeline-node-color);
    }
    &__node {
      position: absolute;
      left: 0;
      top: 0;
      width: 10px;
      height: 10px;
      border: 2px solid #999999;
      outline: 3px solid rgba($color: #999999, $alpha: 0.2);
      border-radius: 50%;
      margin-top: 7px;
    }
    &__title {
      @include t.typography(h6);
      color: var(--cmt-heading-color);
      margin-bottom: 4px;
    }
    &__subtitle {
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      margin-bottom: 8px;
    }
    &__description {
      @include content.simple-style;
      color: #464646;
      font-size: 14px;
    }
    &__tags {
      display: flex;
      gap: 8px;
      margin-top: 8px;
      &-item {
        @include mixins.flex-center();
        color: var(--cmt-muted-color);
        font-size: 12px;
        padding: 4px 8px;
        background-color: var(--cmt-bg);
        border-radius: var(--cm-border-radius-lg);
      }
    }
    &__actions {
      margin-top: 1rem;
    }
  }
}
