.base-theme-block--padding-small {
  padding: 10px;
}
.base-theme-block--padding-medium {
  padding: 20px;
}
.base-theme-block--padding-large {
  padding: 30px;
}

.base-theme-block--margin-small {
  margin: 10px;
}
.base-theme-block--margin-medium {
  margin: 20px;
}
.base-theme-block--margin-large {
  margin: 30px;
}

.base-theme-block--block-align-left {
  display: grid;
  place-items: start;
  .layout__region {
    display: grid;
    place-items: start;
  }
}
.base-theme-block--block-align-center {
  display: grid;
  place-items: center;
  .layout__region {
    display: grid;
    place-items: center;
  }
}
.base-theme-block--block-align-right {
  display: grid;
  place-items: end;
  .layout__region {
    display: grid;
    place-items: end;
  }
}

.base-theme-block {
  position: relative;
}
.base-theme-block .base-theme-block--background {
  position: absolute;
  left: calc(50% - (100% - var(--scrollbar-width, 0px)) / 2);
  right: calc(50% - (100% - var(--scrollbar-width, 0px)) / 2);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--cmt-bg);
  pointer-events: none;
}