.base-theme-block--padding-top-small {
  padding-top: var(--cm-container-padding-sm);
}
.base-theme-block--padding-right-small {
  padding-right: var(--cm-container-padding-sm);
}
.base-theme-block--padding-bottom-small {
  padding-bottom: var(--cm-container-padding-sm);
}
.base-theme-block--padding-left-small {
  padding-left: var(--cm-container-padding-sm);
}

.base-theme-block--padding-top-medium {
  padding-top: var(--cm-container-padding-md);
}
.base-theme-block--padding-right-medium {
  padding-right: var(--cm-container-padding-md);
}
.base-theme-block--padding-bottom-medium {
  padding-bottom: var(--cm-container-padding-md);
}
.base-theme-block--padding-left-medium {
  padding-left: var(--cm-container-padding-md);
}

.base-theme-block--padding-top-large {
  padding-top: var(--cm-container-padding-lg);
}
.base-theme-block--padding-right-large {
  padding-right: var(--cm-container-padding-lg);
}
.base-theme-block--padding-bottom-large {
  padding-bottom: var(--cm-container-padding-lg);
}
.base-theme-block--padding-left-large {
  padding-left: var(--cm-container-padding-lg);
}

.base-theme-block--margin-top-small {
  margin-top: var(--cm-container-margin-sm);
}
.base-theme-block--margin-right-small {
  margin-right: var(--cm-container-margin-sm);
}
.base-theme-block--margin-bottom-small {
  margin-bottom: var(--cm-container-margin-sm);
}
.base-theme-block--margin-left-small {
  margin-left: var(--cm-container-margin-sm);
}

.base-theme-block--margin-top-medium {
  margin-top: var(--cm-container-margin-md);
}
.base-theme-block--margin-right-medium {
  margin-right: var(--cm-container-margin-md);
}
.base-theme-block--margin-bottom-medium {
  margin-bottom: var(--cm-container-margin-md);
}
.base-theme-block--margin-left-medium {
  margin-left: var(--cm-container-margin-md);
}

.base-theme-block--margin-top-large {
  margin-top: var(--cm-container-margin-lg);
}
.base-theme-block--margin-right-large {
  margin-right: var(--cm-container-margin-lg);
}
.base-theme-block--margin-bottom-large {
  margin-bottom: var(--cm-container-margin-lg);
}
.base-theme-block--margin-left-large {
  margin-left: var(--cm-container-margin-lg);
}

.base-theme-block--block-align-left {
  display: grid;
  place-items: start;
  .layout__region {
    display: grid;
    place-items: start;
  }
}
.base-theme-block--block-align-center {
  display: grid;
  place-items: center;
  .layout__region {
    display: grid;
    place-items: center;
  }
}
.base-theme-block--block-align-right {
  display: grid;
  place-items: end;
  .layout__region {
    display: grid;
    place-items: end;
  }
}

.node.node--type-landing-page {
  background: transparent;
  border: none;
}

.node--type-landing-page .field--name-field-landing-page-body {
  padding-left: var(--cm-container-padding-x);
  padding-right: var(--cm-container-padding-x);
}

.base-theme-block {
  position: relative;
}
.base-theme-block.base-theme-block--col-width-ratio-80 {
  .base-theme-block__container {
    width: 80%;
  }
}
.base-theme-block.base-theme-block--col-width-ratio-60 {
  .base-theme-block__container {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .base-theme-block.base-theme-block--col-width-ratio-80 {
    .base-theme-block__container {
      width: 100%;
    }
  }
  .base-theme-block.base-theme-block--col-width-ratio-60 {
    .base-theme-block__container {
      width: 100%;
    }
  }
}
.base-theme-block .base-theme-block__background {
  position: absolute;
  left: calc(50% - (100vw - var(--scrollbar-width, 0px)) / 2);
  right: calc(50% - (100vw - var(--scrollbar-width, 0px)) / 2);
  top: 0;
  bottom: 0;
  z-index: -1;
  background: var(--cmt-bg);
  pointer-events: none;
}

.base-theme-block--border-radius-sm {
  border-radius: var(--cm-border-radius-sm);
  overflow: hidden;
}
.base-theme-block--border-radius-md {
  border-radius: var(--cm-border-radius-md);
  overflow: hidden;
}
.base-theme-block--border-radius-lg {
  border-radius: var(--cm-border-radius-lg);
  overflow: hidden;
}