.base-theme--typography--h1 {
  color: inherit;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
}
@media (max-width: 979px) {
  .base-theme--typography--h1 {
    font-size: 2.875rem;
    line-height: 1.12;
    letter-spacing: -1px;
  }
}
.base-theme--typography--h2 {
  color: inherit;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -1px;
}
@media (max-width: 979px) {
  .base-theme--typography--h2 {
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: 0;
  }
}
.base-theme--typography--h3 {
  color: inherit;
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -1px;
}
@media (max-width: 979px) {
  .base-theme--typography--h3 {
    font-size: 1.75rem;
    line-height: 1.3;
    letter-spacing: 0;
  }
}
.base-theme--typography--h4 {
  color: inherit;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -1px;
}
@media (max-width: 979px) {
  .base-theme--typography--h4 {
    font-size: 1.75rem;
    line-height: 1.3;
  }
}
.base-theme--typography--h5 {
  color: inherit;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
}
@media (max-width: 979px) {
  .base-theme--typography--h5 {
    font-size: 1.5rem;
    line-height: 1.3;
    letter-spacing: 0;
  }
}
.base-theme--typography--h6 {
  color: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0;
}
@media (max-width: 979px) {
  .base-theme--typography--h6 {
    font-size: 1.25rem;
    line-height: 1.25;
    letter-spacing: 0;
  }
}