@use '../../var';
@use '../../mixins';

.btn {
  --btn-color: #{var.$body-color};
  --btn-border-color: transparent;
  --btn-border-width: 0px;
  --btn-bg: transparent;
  --btn-padding: calc(10px - var(--btn-border-width)) calc(16px - var(--btn-border-width));
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: var(--btn-padding);
  font-size: 14px;
  font-weight: var(--cm-btn-font-weight, normal);
  line-height: 20px;
  text-decoration: none;
  white-space: nowrap;
  color: var(--btn-color);
  background: var(--btn-bg);
  border: var(--btn-border-width) solid var(--btn-border-color);
  border-radius: var(--cm-btn-border-radius, 20px);
  opacity: 1;
  @include mixins.transition;
  transition-property: color, background, border, opacity, filter;
  @include mixins.hover {
    filter: saturate(0.8) brightness(1.1);
  }
  &[block] {
    display: flex;
    width: 100%;
  }

  &--lg {
    font-size: 16px;
    line-height: 24px;
    --btn-padding: calc(12px - var(--btn-border-width)) calc(24px - var(--btn-border-width));
  }
  @each $c in (primary, secondary) {
    &--#{$c} {
      --btn-color: var(--cmt-btn-solid-#{$c}-color);
      --btn-border-color: var(--cmt-btn-solid-#{$c}-color);
      --btn-bg: var(--cmt-btn-solid-#{$c}-bg);
    }
    &--outline-#{$c} {
      --btn-border-width: var(--cm-btn-border-width, 1px);
      --btn-color: var(--cmt-btn-outline-#{$c}-color);
      --btn-border-color: var(--cmt-btn-outline-#{$c}-color);
    }
    &--text-#{$c} {
      --btn-padding: calc(10px - var(--btn-border-width)) 0;
      --btn-color: var(--cmt-btn-text-#{$c}-color);
    }
  }
  @each $c in (gradient1, gradient2) {
    &--#{$c} {
      --btn-color: var(--cm-on-#{$c});
      --btn-bg: var(--cm-#{$c});
    }
  }
  &__icon {
    --icon-size: 20px;
    font-size: var(--icon-size, 16px);
    max-width: var(--icon-size, 16px);
    max-height: var(--icon-size, 16px);
    line-height: var(--icon-size, 16px);
    font-weight: normal;
    &:first-child {
      margin-right: 8px;
    }
    &:last-child {
      margin-left: 8px;
    }
  }
}

.btn__icon {
  font-family: 'remixicon';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  $icons: (
    'link': '\ea6c',
    'download': '\ec53',
    'mail': '\eef3',
    'phone': '\efe9',
  );
  @each $name, $code in $icons {
    &--#{$name}::before {
      content: $code;
    }
  }
}
