.object-fit {
  &--contain,
  &--cover {
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &--contain {
    &,
    img {
      object-fit: contain;
    }
  }
  &--cover {
    &,
    img {
      object-fit: cover;
    }
  }
  &--none {
    &,
    img {
      object-fit: none;
    }
  }
}
