.base-theme-block--image-size-sm {
  width: 20%;
  img {
    width: 100%;
  }
}
.base-theme-block--image-size-md {
  width: 50%;
  img {
    width: 100%;
  }
}
.base-theme-block--image-size-lg {
  width: 100%;
  img {
    width: 100%;
  }
}

.base-theme-block--image-fit-cover {
  img {
    object-fit: cover;
  }
}
.base-theme-block--image-fit-contain {
  img {
    object-fit: contain;
  }
}