.paragraph--type--group {
  .field--name-field-body {
    display: grid;
    gap: var(--layout-grid-gutter);
  }
}
.paragraph--type--group.base-theme-block--group-col-2 {
  .field--name-field-body {
    grid-template-columns: repeat(2, 1fr);
  }
}
.paragraph--type--group.base-theme-block--group-col-3 {
  .field--name-field-body {
    grid-template-columns: repeat(3, 1fr);
  }
}