.paragraph--type--group {
  --col: 1;
  .field--name-field-body {
    display: grid;
    grid-template-columns: repeat(var(--col), 1fr);
    gap: var(--layout-grid-gutter);
    img {
      border-radius: var(--cm-border-radius);
    }
  }
}
.paragraph--type--group.base-theme-block--group-col-2 {
  --col: 2;
}
.paragraph--type--group.base-theme-block--group-col-3 {
  --col: 3;
}