.paragraph--type--number {
  display: grid;
  place-items: center;
  background-color: #ffffff1a;
  border-radius: var(--cm-border-radius);
  padding: 16px;
  .field--name-field-number-icon {
    width: 48px;
    height: 48px;
  }
}