@use 'sass:math';
@use '../../var';
@use '../../mixins';
@use '../../library/swiper/navigation' with($themeColor: var.$primary);
@use '../../library/swiper/scrollbar';
@use '../../library/swiper/grid';

:root {
  --swiper-theme-color: #{var.$primary};
  --swiper-navigation-color: #{var.$body-color};
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  &--grid > .swiper-wrapper {
    flex-wrap: wrap;
  }
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  &.uninitialized {
    opacity: 0;
  }
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-pointer-events {
  touch-action: pan-y;
  &.swiper-vertical {
    touch-action: pan-x;
  }
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  outline: none;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
/* Auto Height */
.swiper-autoheight {
  &,
  .swiper-slide {
    height: auto;
  }

  .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
  }
}

.swiper-slide {
  height: auto;
  img {
    display: block;
    max-width: 100%;
  }
}
.swiper-scrollbar {
  margin-top: 24px;
}
.swiper-horizontal > .swiper-scrollbar {
  display: none;
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
  width: 60px;
  height: 4px;
  margin: 12px auto 0;
  border-radius: var(--cm-border-radius-sm);
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--cmt-swiper-pagination-bg, currentColor);
    opacity: 0.4;
  }
}
.swiper-scrollbar-drag {
  background-color: var(--cmt-swiper-pagination-bg, currentColor);
}

.swiper-button-disabled {
  opacity: 0.32;
  pointer-events: none;
}
:root {
  --swiper-navigation-size: 20px;
}
.swiper-wrap {
  $size: 40px;
  position: relative;
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: math.div(-$size, 2);
  }
  .swiper-button-prev {
    left: math.div(-$size, 2);
    text-indent: -3px;
  }
  .swiper-button-next {
    right: math.div(-$size, 2);
    text-indent: 3px;
  }
  .swiper-button-disabled {
    display: none;
  }
}

.swiper-pagination {
  font-size: 0;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  white-space: nowrap;
  margin-top: 24px;
  @include mixins.media-breakpoint-up(xl) {
    display: none;
  }
  &.swiper-pagination-hidden {
    opacity: 0;
  }
}

.swiper-container {
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullet {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background-color: var(--cmt-swiper-pagination-bg, currentColor);
  opacity: 0.24;
  border-radius: var(--cm-border-radius-sm);
  @include mixins.transition;
  transition-property: background-color, opacity;
  .swiper-pagination-clickable & {
    cursor: pointer;
  }
  &:only-child {
    display: none !important;
  }
  &-active {
    width: 12px;
    background-color: var(--cmt-swiper-pagination-active-bg, currentColor);
    opacity: 1;
  }
}
$btnSize: 36px;
.swiper-button-prev,
.swiper-button-next {
  width: $btnSize;
  height: $btnSize;
  margin-top: 0;
  color: var(--cmt-swiper-button-color, var(--cm-dark));
  background: var(--cmt-swiper-button-bg, var(--cm-white));
  border-radius: 50%;
  box-shadow: var(--cmt-swiper-button-box-shadow);
  transform: translateY(-50%);
  @include mixins.transition;
  transition-property: opacity;
  &:after {
    font-family: remixicon;
  }
  @include mixins.transition;
  transition-property: color, background, opacity;
  @include mixins.hover {
    color: var(--cmt-swiper-button-hover-color);
    background: var(--cmt-swiper-button-hover-bg);
  }
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: -16px;
  &:after {
    content: '\ea64';
  }
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: -16px;
  &:after {
    content: '\ea6e';
  }
}

.swiper--thumbnail {
  .swiper-slide {
    @include mixins.flex-center;
    background-color: #fff;
    border: var(--hr);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    @include mixins.transition;
    transition-property: box-shadow;
  }
  a.swiper-slide {
    @include mixins.hover {
      box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.12);
    }
  }
}
.swiper-overflow-wrap {
  --swiper-overflow-wrap-padding: 0px;
  @include mixins.margin-x(calc(0px - var(--swiper-overflow-wrap-padding)));
  @include mixins.padding-x(var(--swiper-overflow-wrap-padding));
  position: relative;
  // margin: -8px -20px;
  // padding: 8px 20px;
  // overflow: hidden;
  @include mixins.media-breakpoint-up(xl, true) {
    --swiper-overflow-wrap-padding: 28px;
  }
  .swiper {
    position: static;
    padding: 4px;
    margin: -4px;
    // overflow: visible;
  }
  .swiper-button-disabled {
    opacity: 0;
  }
}

.swiper--grid {
  --childHeight: 100px;
  .swiper-wrapper {
    height: calc(
      var(--childHeight, 120px) * var(--rows, 2) + var(--layout-grid-gutter) *
        calc(var(--rows, 3) - 1)
    );
  }
  /*
  @media (min-width: 768px) {
    height: calc(
      var(--childHeight, 120px) * var(--rows-md, 2) + var(--layout-grid-gutter) *
        calc(var(--rows-md, 2) - 1)
    );
  }
  @media (min-width: 840px) {
    height: calc(
      var(--childHeight, 120px) * var(--rows-lg, 2) + var(--layout-grid-gutter) *
        calc(var(--rows-lg, 2) - 1)
    );
  }
  */
  .swiper-slide {
    height: var(--childHeight, 120px);
  }
}
