.base-theme-block--light {
  color: var(--cm-primary);
}
.base-theme-block--dark {
  color: var(--cm-secondary);
}

.base-theme-block--padding-small {
  padding: 10px;
}
.base-theme-block--padding-medium {
  padding: 20px;
}
.base-theme-block--padding-large {
  padding: 30px;
}

.base-theme-block--margin-small {
  margin: 10px;
}
.base-theme-block--margin-medium {
  margin: 20px;
}
.base-theme-block--margin-large {
  margin: 30px;
}

.base-theme-block--block-align-left {
  display: grid;
  place-items: start;
  .layout__region--content {
    display: grid;
    place-items: start;
  }
}
.base-theme-block--block-align-center {
  display: grid;
  place-items: center;
  .layout__region--content {
    display: grid;
    place-items: center;
  }
}
.base-theme-block--block-align-left {
  display: grid;
  place-items: end;
  .layout__region--content {
    display: grid;
    place-items: end;
  }
}