.lpb-dialog {
  --me-dialog-main-space-inset-x: 0;
  --me-dialog-main-space-inset-y: 0;
}

body:has(mercury-dialog[push][dock="top"][open]) #toolbar-bar {
  top: var(--me-dialog-dock-height, 0);
}

body:has(mercury-dialog[push][dock="right"][open]) #toolbar-bar {
  right: var(--me-dialog-dock-width, 0);
}

body:has(mercury-dialog[push][dock="left"][open]) #toolbar-bar {
  left: var(--me-dialog-dock-width, 0);
}
