.me-dropbtn__wrapper {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  float: right;
}
.me-dropbtn__btn--primary {
  border: 1px solid #E1E0E1;
  border-width: 1px 0 1px 1px;
  border-radius: 3px 0 0 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #130F13;
  padding: 10px;
  flex-grow: 2;
  background: #fff;
  &:hover {
    text-decoration: underline;
    color: #130f13;
  }
}
.me-dropbtn__toggle {
  border: 1px solid #E1E0E1;
  border-radius: 0 3px 3px 0;
  line-height: 1;
  position: relative;
  padding: 0 15px;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  border-left: 1px solid #E1E0E1;
  background: #fff;
  &:hover {
    cursor: pointer;
  }
  &.active {
    border-color: #9D999D;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-radius: 0 3px 0 0;
    &::before {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #130F13;
      border-top: none;
    }
  }
  &:focus +  .me-dropbtn__btn-list {
    visibility: visible;
  }
  &::before {
    content: "";
    display: inline-block;
    transform: translateY(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #130F13;
    position: absolute;
    left: 50%;
    margin-left: -5px;
  }
}
.me-dropbtn__btn-list {
  width: 100%;
  border-color: #9D999D;
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 3px 3px;
  list-style: none;
  padding: 0;
  margin: -1px 0 0 0  !important;
  background: #fff;
}
.me-dropbtn__btn {
  border: none;
  display: block;
  width: auto;
  margin: 0;
  padding: 0;
  & a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #130F13;
    font-weight: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    &:hover {
      color: #130F13;
      text-decoration: underline;
    }
  }
}
