@use '../../mixins';
@use '../../utils/typography' as t;

.paragraph--type--business-card {
  @include t.typography(body2);
  height: 100%;
  color: var(--cmt-surface-color);
  background-color: var(--cmt-surface-bg);
  border-radius: var(--cm-border-radius);
  p {
    margin: 0;
  }
  table {
    th {
      width: 0%;
      padding-right: 4px;
      vertical-align: top;
      white-space: nowrap;
    }
    tr:not(:last-child) {
      th,
      td {
        padding-bottom: 8px;
      }
    }
    th,
    td {
      @include mixins.first-last-no-margin;
    }
  }
}
.base-theme-business-card {
  &__primary {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    .field--name {
      &-field-title {
        color: var(--cmt-surface-heading-color);
        font-size: 18px;
        font-weight: bold;
        line-height: 1.32;
        letter-spacing: 0;
        margin-bottom: 4px;
      }
      &-field-avatar {
        width: 92px;
        min-width: 92px;
        height: 92px;
        .contextual-region, .field--name-field-media-image, .field__item {
          width: 100%;
          height: 100%;
        }
        img {
          object-fit: cover;
        }
      }
    }
  }
  &__info {
    padding: 20px;
  }
}