.paragraph--type--group {
  --col: 1;
  display: gird;
  grid-template-columns: repeat(var(--col), 1fr);
  .field--name-field-body {
    display: grid;
    grid-template-columns: repeat(var(--col), 1fr);
    gap: var(--layout-grid-gutter);
    img {
      border-radius: var(--cm-border-radius);
    }
  }
  &.base-theme-block--group-col {
    &-2 {
      --col: 2;
    }
    &-3 {
      --col: 3;
    }
  }
}