.paragraph--type--number {
  display: grid;
  place-items: center;
  background-color: #ffffff1a;
  border-radius: var(--cm-border-radius);
  padding: 16px;
  .field--name-field-number-icon {
    img {
      width: 48px;
      height: 48px;
      object-fit: contain;
    }
  }
  .field--name-field-number-value {
    font-size: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.32;
    font-weight: 700;
  }
  .field--name-field-number-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}