@use '../../mixins';

.base-theme-text-with-embedding {
  $root: #{&};
  $embed: #{&}__embed;
  $text: #{&}__text;
  color: var(--cmt-surface-color);
  background-color: var(--cmt-surface-bg);
  border-radius: var(--cm-border-radius);
  overflow: hidden;
  &__grid {
    display: grid;
    grid-gap: var(--layout-grid-gutter);
    width: 100%;
    border-radius: 12px;
    @at-root #{$root}--embed-float-left & {
      @include mixins.media-breakpoint-up(lg) {
        grid-template-columns: 60% auto;
      }
    }
    @at-root #{$root}--embed-float-right & {
      @include mixins.media-breakpoint-up(lg) {
        grid-template-columns: auto 60%;
      }
    }
    @include mixins.media-breakpoint-up(xl) {
      grid-gap: 32px;
      @at-root .base-theme-block--col-width-narrow & {
        grid-gap: 20px;
      }
    }
  }
  &__embed {
    .el-ratio {
      height: 100%;
    }
    @include mixins.media-breakpoint-up(lg) {
      @at-root #{$root}--embed-size-large & {
        grid-column: auto / span 2;
      }
    }
    @at-root #{$root}--embed-float-right & {
      @include mixins.media-breakpoint-up(lg) {
        order: 1;
      }
    }
  }
  &__text {
    padding: 20px;
    padding-left: 0;
    @include mixins.media-breakpoint-up(lg) {
      @at-root #{$root}--embed-size-small & {
        grid-column: auto / span 2;
      }
    }
    @at-root #{$root}--embed-float-right & {
      @include mixins.media-breakpoint-up(lg) {
        padding-left: 20px;
        padding-right: 0;
      }
    }
    @include mixins.media-breakpoint-down(lg) {
      padding-left: 20px;
      padding-top: 0;
    }
    .btn {
      margin-top: 20px;
    }
    table tr td {
      text-align: left;
      padding-bottom: 12px;
    }
    .cm-richtext table tbody tr:first-child {
      color: inherit;
      td {
        font-weight: initial;
      }
    }
  }
  $aspect-ratios: (
    '1x1': 100%,
    '3x2': calc(2 / 3 * 100%),
    '4x3': calc(3 / 4 * 100%),
    '16x9': calc(9 / 16 * 100%),
    '2x3': calc(3 / 2 * 100%),
    '3x4': calc(4 / 3 * 100%),
  );
  @each $key, $ratio in $aspect-ratios {
    &--embed-ratio-#{$key} {
      --el-aspect-ratio: #{$ratio};
    }
  }
}
