.container {
  max-width: var(--cm-container-max-width, 1280px);
  padding-left: var(--cm-container-padding-x, 20px);
  padding-right: var(--cm-container-padding-x, 20px);
  margin: auto;
}

.node--type-landing-page {
  background: transparent;
  border: none;
}
