@use '../var';
@use '../mixins';

.paragraph-theme-block {
  $container: #{&}__container;
  $background: #{&}__background;

  // display: grid;
  position: relative;
  color: var(--cmt-color);

  // border-radius (sm, md, lg)
  @each $size in var.$sizes {
    &--border-radius-#{$size} {
      border-radius: var(--cm-border-radius-#{$size});
      overflow: hidden;
    }
  }

  // col width (80%, 60%)
  &--col-width-80 {
    #{$container} {
      width: 80%;
      @include mixins.media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }
  &--col-width-60 {
    #{$container} {
      width: 60%;
      @include mixins.media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }

  &--light-image, &--dark-image {
    #{$background} {
      background-image: var(--background-image);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
