@use '../var';
@use '../mixins';

%heading {
  margin-top: 0;
  margin-bottom: #{var.$headings-margin-bottom};
  font-family: var.$headings-font-family;
  font-weight: var.$headings-font-weight;
  line-height: #{var.$headings-line-height};
}

.typography {
  &--h1 {
    --cm-headings-line-height: 1.3;
    @extend %heading;
    font-size: var.$h1-font-size;
  }
  &--h2 {
    @extend %heading;
    font-size: var.$h2-font-size;
  }
  &--h3 {
    @extend %heading;
    font-size: var.$h3-font-size;
  }
  &--h4 {
    @extend %heading;
    font-size: var.$h4-font-size;
  }
  &--h5 {
    @extend %heading;
    font-size: var.$h5-font-size;
  }
  &--h6 {
    @extend %heading;
    font-size: var.$h6-font-size;
  }
  &--body1 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  &--body2 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  &--caption {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@mixin typography($name) {
  @extend .typography--#{$name};
}
