@use '../../ckeditor5/content';

.paragraph--type--rich-text {
  width: 100%;
  @include content.core-style;
  // h1, h2, h3, h4, h5, h6 {
  //   margin-top: 0;
  // }
  // h1, h2, h3 {
  //   margin-bottom: 1.5rem;
  // }
  // h4, h5, h6 {
  //   margin-bottom: 1rem;
  // }
}