.base-theme-block--headline1 {
  color: inherit;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
}
@media (max-width: 979px) {
  .base-theme-block--headline1 {
    font-size: 2.875rem;
    line-height: 1.12;
    letter-spacing: -1px;
  }
}
.base-theme-block--headline2 {
  color: inherit;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -1px;
}
@media (max-width: 979px) {
  .base-theme-block--headline2 {
    font-size: 2rem;
    line-height: 1.3;
    letter-spacing: 0;
  }
}
.base-theme-block--headline3 {
  color: inherit;
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -1px;
}
@media (max-width: 979px) {
  .base-theme-block--headline3 {
    font-size: 1.75rem;
    line-height: 1.3;
    letter-spacing: 0;
  }
}
.base-theme-block--headline4 {
  color: inherit;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -1px;
}
@media (max-width: 979px) {
  .base-theme-block--headline4 {
    font-size: 1.75rem;
    line-height: 1.3;
  }
}
.base-theme-block--headline5 {
  color: inherit;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
}
@media (max-width: 979px) {
  .base-theme-block--headline5 {
    font-size: 1.5rem;
    line-height: 1.3;
    letter-spacing: 0;
  }
}
.base-theme-block--headline6 {
  color: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0;
}
@media (max-width: 979px) {
  .base-theme-block--headline6 {
    font-size: 1.25rem;
    line-height: 1.25;
    letter-spacing: 0;
  }
}

.base-theme-block--padding-small {
  padding: 10px;
}
.base-theme-block--padding-medium {
  padding: 20px;
}
.base-theme-block--padding-large {
  padding: 30px;
}

.base-theme-block--margin-small {
  margin: 10px;
}
.base-theme-block--margin-medium {
  margin: 20px;
}
.base-theme-block--margin-large {
  margin: 30px;
}

.base-theme-block--light {
  color: var(--cm-primary);
}

.base-theme-block--dark {
  color: var(--cm-secondary);
}