:root {
  --cm-gray-100: #f5f5f5;
  --cm-gray-200: #eee;
  --cm-gray-300: #ddd;
  --cm-gray-400: #ccc;
  --cm-gray-500: #999;
  --cm-gray-600: #888;
  --cm-gray-700: #666;
  --cm-gray-800: #323232;
  --cm-gray-900: #111;
  --cm-white: #fff;
  --cm-black: #000;
  --cm-primary: #2c9a3b;
  --cm-on-primary: #fff;
  --cm-secondary: #034107;
  --cm-on-secondary: #fff;
  --cm-light: var(--cm-gray-100);
  --cm-dark: var(--cm-gray-800);

  --cm-body-font-size: 1rem;
  --cm-body-line-height: 1.5;
  --cm-h1-font-size: 2.5rem;
  --cm-h2-font-size: 2rem;
  --cm-h3-font-size: 1.75rem;
  --cm-h4-font-size: 1.5rem;
  --cm-h5-font-size: 1.25rem;
  --cm-h6-font-size: 1.125rem;

  --cm-container-padding-sm: 10px;
  --cm-container-padding-md: 20px;
  --cm-container-padding-lg: 30px;
  --cm-container-margin-sm: 10px;
  --cm-container-margin-md: 20px;
  --cm-container-margin-lg: 30px;
  
  --cm-container-padding-x: 20px;
  --cm-container-max-width: 1280px;
  --cm-container-max-width-up-1440: 1680px;
  --cm-container-padding-x: 20px;
  --cm-container-padding-x-up-1440: calc(
    (1440px + var(--cm-container-padding-x, 20px) - var(--cm-container-max-width, 1280px)) / 2
  );
  --layout-grid-gutter: 24px;

  --cm-table-border-color: rgba(0, 0, 0, .1);

  --cm-border-radius: 12px;
  --cm-border-radius-sm: 8px;
  --cm-border-radius-md: 12px;
  --cm-border-radius-ld: 24px;
}
body {
  --cmt-bg: var(--cm-white);
  --cmt-color: var(--cm-dark);
  --cmt-surface-color: var(--cm-dark);
  --cmt-surface-heading-color: var(--cm-secondary);
  --cmt-strong-number-color: var(--cm-primary);
  --cmt-surface-bg: var(--cm-white);
}

.base-theme-block--white {
  --cmt-bg: var(--cm-white);
  --cmt-color: var(--cm-dark);
  --cmt-surface-color: var(--cm-dark);
  --cmt-surface-heading-color: var(--cm-secondary);
  --cmt-strong-number-color: var(--cm-primary);
  --cmt-surface-bg: var(--cm-gray-100);
}
.base-theme-block--black {
  --cmt-bg: var(--cm-dark);
  --cmt-color: var(--cm-white);
  --cmt-surface-color: var(--cm-dark);
  --cmt-surface-heading-color: var(--cm-secondary);
  --cmt-strong-number-color: var(--cm-primary);
  --cmt-surface-bg: var(--cm-white);
}
.base-theme-block--primary {
  --cmt-bg: var(--cm-primary);
  --cmt-color: var(--cm-on-primary);
  --cmt-surface-color: var(--cm-dark);
  --cmt-surface-heading-color: var(--cm-secondary);
  --cmt-strong-number-color: var(--cm-primary);
  --cmt-surface-bg: var(--cm-white);
}
.base-theme-block--secondary {
  --cmt-bg: var(--cm-secondary);
  --cmt-color: var(--cm-on-secondary);
  --cmt-surface-color: var(--cm-dark);
  --cmt-surface-heading-color: var(--cm-secondary);
  --cmt-strong-number-color: var(--cm-primary);
  --cmt-surface-bg: var(--cm-white);
}
.base-theme-block--light {
  --cmt-bg: var(--cm-light);
  --cmt-color: var(--cm-dark);
  --cmt-surface-color: var(--cm-dark);
  --cmt-surface-heading-color: var(--cm-secondary);
  --cmt-strong-number-color: var(--cm-primary);
  --cmt-surface-bg: var(--cm-white);
}
.base-theme-block--dark {
  --cmt-bg: var(--cm-dark);
  --cmt-color: var(--cm-white);
  --cmt-surface-color: var(--cm-dark);
  --cmt-surface-heading-color: var(--cm-secondary);
  --cmt-strong-number-color: var(--cm-primary);
  --cmt-surface-bg: var(--cm-white);
}
.base-theme-block--light-image {
  --cmt-bg: var(--cm-light);
  --cmt-color: var(--cm-dark);
  --cmt-muted-color: var(--cm-muted);
  --cmt-heading-color: var(--cm-dark);
  --cmt-surface-color: var(--cm-dark);
  --cmt-surface-heading-color: var(--cm-secondary);
  --cmt-strong-number-color: var(--cm-primary);
  --cmt-surface-bg: var(--cm-white);
}
.base-theme-block--dark-image {
  --cmt-bg: var(--cm-dark);
  --cmt-color: var(--cm-white);
  --cmt-muted-color: var(--cm-muted);
  --cmt-heading-color: var(--cm-white);
  --cmt-surface-color: var(--cm-dark);
  --cmt-surface-heading-color: var(--cm-secondary);
  --cmt-strong-number-color: var(--cm-primary);
  --cmt-surface-bg: var(--cm-white);
}