@use '../mixins';

.container {
  max-width: var(--cm-container-max-width, 1280px);
  padding-left: var(--cm-container-padding-x, 20px);
  padding-right: var(--cm-container-padding-x, 20px);
  margin: auto;
  @include mixins.media-breakpoint-down(md) {
    --cm-container-padding-x: 20px;
  }
}

.node--type-landing-page {
  background: transparent;
  border: none;
}
