{%
  set classes = [
    paragraph.bundle == 'content_block' ? 'paragraph base-theme-block' : 'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% if paragraph.bundle == 'content_block' %}
      <div class="base-theme-block__container">
        {% block content %}
          {{ content }}
        {% endblock %}
      </div>
    {% else %}
      {{ content }}
    {% endif %}

    {% if paragraph.bundle == 'content_block' %}
      <div class="base-theme-block__background"></div>
    {% endif %}
  </div>
{% endblock paragraph %}
