<div{{ attributes.addClass(classes) }}>
  {% if content_block_id is defined %}
    <paragraph-content-block
      data-id="{{ content_block_id }}">
      {{ content }}
    </paragraph-content-block>
  {% else %}
    {# Fallback: 如果没有数据，显示原始内容 #}
    {{ content }}
  {% endif %}
</div>
