<div{{ attributes.addClass(classes) }}>
  {# 隐藏原始字段渲染 #}
  <div style="display: none;">
    {{ content }}
  </div>
  {% if button_id is defined %}
    <div
      data-id="{{ button_id }}"
      data-vue-component="button">
    </div>
  {% else %}
    {# Fallback: 如果没有数据，显示原始内容 #}
    {{ content }}
  {% endif %}
</div>
