<div{{ attributes.addClass(classes) }}>
  {% if button_id is defined %}
    <div
      data-id="{{ button_id }}"
      data-vue-component="button">
      {{ content }}
    </div>
  {% else %}
    {# Fallback: 如果没有数据，显示原始内容 #}
    {{ content }}
  {% endif %}
</div>
