<div{{ attributes.addClass(classes) }} style="width: 100%;">
  {# 隐藏原始字段渲染 #}
  {# <div style="display: none;">
    {{ content }}
  </div> #}
  {% if embed_id is defined %}
  <div 
    data-id="{{ embed_id }}"
    data-vue-component="textWithEmbed">
  </div>
  {% else %}
    {# Fallback: 如果没有数据，显示原始内容 #}
    {{ content }}
  {% endif %}
</div>
