<div{{ attributes.addClass(classes) }} style="width: 100%;">
  {% if swiper_id is defined %}
    <paragraph-swiper 
      data-id="{{ swiper_id }}">
      {% for key, item in content.field_swiper_items %}
        {# 在循环体内部进行过滤，跳过以 # 开头的元数据 #}
        {% if key|first != '#' %}
          <div class="swiper-slide">
            {{ item }}
          </div>
        {% endif %}
      {% endfor %}
    </paragraph-swiper>
  {% else %}
    {# Fallback: 如果没有数据，显示原始内容 #}
    {{ content }}
  {% endif %}
</div>
