@use '../../mixins';
@use '../../utils/typography' as t;

.node--landing-page .field--name-field-datetime {
  display: none;
}

.base-theme-countdown {
  &__container {
    display: flex;
    justify-content: center;
  }
  &-item {
    position: relative;
    @include mixins.media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__num {
      font-size: 68px;
      font-weight: 700;
      margin-bottom: 0;
      color: var(--cmt-strong-number-color);
      @include mixins.media-breakpoint-down(md) {
        font-size: 48px;
      }
    }
    &__text {
      @include t.typography(body2);
    }
  }
  .base-theme-countdown-item {
    ~ .base-theme-countdown-item {
      padding-left: 36px;
      margin-left: 36px;
      &::before {
        content: '';
        position: absolute;
        left: -1px;
        top: 34%;
        bottom: 34%;
        border: 1px solid;
        opacity: 0.12;
      }
      @include mixins.media-breakpoint-down(md) {
        & {
          padding-left: 0;
          margin-left: 0;
        }
        &::before {
          content: none;
        }
      }
    }
    &__text {
      @include mixins.media-breakpoint-up(md) {
        margin-left: 4px;
      }
    }
  }
}